
body{
    height: 100vh;
    margin: 0;
}
.header{
    background-color: #1f2937;
   padding: 0 10% 10% 10%;
}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.links{
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom:10%;
}
ul{
    display: flex;
    gap: 16px;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 10%;
    flex-wrap: wrap;
}
.signup{
    width: 50%;
}
.awesome{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.h_button{
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
    border-radius: 10px;
    width: 130px;
    height: 30px;
    padding: 0;
}

.s_text{
    font-size: 18px;
    color: #e5e7eb;
}


.t_card{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}

.deck{
    display: flex;
    justify-content: center;
    gap: 3%;
    flex-wrap: wrap;
}

.cards{
    
    width: 200px;
    text-align: center;
    border-color: #3882f6;
    border-width: 3px;
}

.cards > img {
    border: solid;
    border-color: #3882f6;
    border-width: 3px;
    border-radius: 10px;
}

.quote{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 100;
    padding: 10%;
    display: flex;
    flex-direction: column;
    margin-top:10%;
}
span{
    align-self: flex-end;
    font-weight: 800;
}
.action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10%;
}
.blue{
    background-color:#3882f6;
    width:80%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    color: #f9faf8;
}
.blue_button{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    align-self: center;
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #f9faf8 #f9faf8;
}

.footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
    padding:3% 0;
}