
body{
    height: 100vh;
    margin: 0;
}
.header{
    background-color: #1f2937;
   padding: 0 10% 10% 10%;

}
.logo{
    font-size: 24px;
    color: #f9faf8;
}
.links{
    font-size: 18px;
    color: #e5e7eb;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-between;
    margin-bottom:10%;
}
ul{
    display: flex;
    gap: 16px;
}
.title{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.signup{
    width: 50%;
}
.awesome{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}
.h_button{
    background-color: #3882f6;
    font-size: 18px;
    color: #f9faf8;
}

.s_text{
    font-size: 18px;
    color: #e5e7eb;
}


.t_card{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

blockquote{
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: light italic;
}

.action{
    background-color:#3882f6;
}

.footer{
    background-color: #1f2937;
    font-size: 18px;
    color: #e5e7eb;
}